
<div class="row">

  <!-- Line Chart - Single Series -->
  <div class="col-xs-6">
    <h3>Revenu par mois</h3>
    <%= bar_chart @memberships.unscoped.group_by_month(:start_date, "sum", "price") %>
  </div>

</div>

<div class="row">

  <!-- Line Chart - Single Series -->
  <div class="col-xs-6">
    <h3>Nombre de nouveaux abonnements par mois</h3>
    <%= bar_chart @memberships.unscoped.group_by_month(:start_date, "count") %>
  </div>

</div>

<div class="row">

  <!-- Line Chart - Single Series -->
  <div class="col-xs-6">
    <h3>Abonnements par type</h3>
    <%= pie_chart @memberships.unscoped.group(:description).count %>

  </div>

</div>

<div class="row">

  <!-- Line Chart - Single Series -->
  <div class="col-xs-6">
    <h3>Abonnements actifs par type</h3>
    <%= pie_chart @active_memberships.unscoped.group(:description).count %>

  </div>

</div>

<div class="row">

  <!-- Line Chart - Single Series -->
  <div class="col-xs-6">
    <h3>Abonnements par durée</h3>
    <%= pie_chart @memberships.unscoped.group(:duration).count %>
  </div>

</div>

<div class="row">

  <!-- Line Chart - Single Series -->
  <div class="col-xs-6">
    <h3>Abonnements actifs par durée</h3>
    <%= pie_chart @active_memberships.unscoped.group(:duration).count %>
  </div>

</div>


<div class="row">

  <!-- Line Chart - Single Series -->
  <div class="col-xs-6">
    <h3>Utilisateurs par genre</h3>
    <%= pie_chart @users.unscoped.group(:gender).count %>
  </div>

</div>
