<% provide(:title, "Statistiques") %>
<div class= "row info">
  <h1>Statistiques</h1>
  
  <div class="col-md-8 col-md-offset-2">
    <h3>Revenu par mois</h3>
    <%= bar_chart @memberships.unscoped.group_by_month(:start_date, "sum", "price") %>
  </div>

  <div class="col-md-8 col-md-offset-2">
    <h3>Revenu par année</h3>
    <%= bar_chart @memberships.unscoped.group_by_year(:start_date, "sum", "price") %>
  </div>
  
  <div class="col-md-8 col-md-offset-2">
    <h3>Nombre de nouveaux abonnements par mois</h3>
    <%= bar_chart @memberships.unscoped.group_by_month(:start_date, "count") %>
  </div>

  <div class="col-md-8 col-md-offset-2">
    <h3>Nombre de nouveaux abonnements par année</h3>
    <%= bar_chart @memberships.unscoped.group_by_year(:start_date, "count") %>
  </div>

  <div class="col-xs-6">
    <h3>Abonnements par type</h3>
    <%= pie_chart @memberships.group(:description).count %>
  </div>
  
  <div class="col-xs-6">
    <h3>Abonnements actifs par type</h3>
    <%= pie_chart @active_memberships.group(:description).count %>
  </div>
  
  
  <div class="col-xs-6">
    <h3>Abonnements par durée</h3>
    <%= pie_chart @memberships.group(:duration).count %>
  </div>
  
  <div class="col-xs-6">
    <h3>Abonnements actifs par durée</h3>
    <%= pie_chart @active_memberships.group(:duration).count %>
  </div>

  <div class="col-xs-6">
    <h3>Membres par genre</h3>
    <%= pie_chart @members.group(:gender).count %>
  </div>
    
  <div class="col-xs-6">
    <h3>Membres actifs par genre</h3>
    <%= pie_chart @active_members.group(:gender).count %>
    <br>
  </div>
</div>