<li id="membership-<%= membership.id %>">
  <span class="user"><%= link_to membership.user.full_name, membership.user %></span>
  <span class="description"><%= membership.description %></span>
  <% if membership.end_date < Date.today %>
    <span class="expired-membership">
          Expiré le : <%= membership.end_date %>
    </span>
  <% else %>
      <span class="active-membership">
        Expiration : <%= membership.end_date %>
      </span>
  <% end %>
</li>