<li id="membership-<%= membership.id %>">
  <span class="user"><%= link_to membership.member.full_name, membership.member %></span>
  <span class="description"><%= membership.description %>, <%= membership.duration %> mois</span>
  <span class="price"><%= "%.2f" % membership.price %> $</span>
  <span class="timestamp">
    Début : <%= membership.start_date %>
  </span>
  <% if membership.end_date - 1.week > Date.today %>
    <span class="active-membership">
      Expiration : <%= membership.end_date %>
    </span>
  <% elsif membership.end_date > Date.today %>
    <span class="expiring-membership">
      Expiration : <%= membership.end_date %>
    </span>
  <% else %>
    <span class="expired-membership">
      Expiré le : <%= membership.end_date %>
    </span>
  <% end %>
  <span class="timestamp">
    Créé le <%= membership.created_at %>.
  </span>
  <span class="creator"> par : <%= User.find(membership.created_by).full_name %></span>
  <span>
  <% if current_user.admin? %>
  <%= link_to "supprimer", membership, method: :delete,
    data: { confirm: "Êtes vous certain de vouloir supprimer cet abonnement ?" } %>
  <% end %>
  </span>
</li>