<% provide(:title, "Connexion") %>
<h1>Connexion</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: connexion_path) do |f| %>

      <%= f.label :email, "Courriel" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Mot de passe" %>
      <%= link_to "(mot de passe oublié)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Se connecter", class: "btn btn-primary" %>
    <% end %>

    <p>Nouveau membre ? <%= link_to "Créer un compte!", inscription_path %></p>
  </div>
</div>
