<%= form_for(@membership) do |f| %>
  <div><%= hidden_field_tag :user_id, @user.id %></div>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="col-md-6 col-md-offset-1">
    <div class="field">
      <%= f.label :description, "Type d'abonnement" %>
      <%= f.select :description, Membership::DESCRIPTIONS, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :duration, "Durée de l'abonnement" %>
      <%= f.select :duration, Membership::DURATIONS, class: 'form-control' %>
    </div>
    <div class="form-inline">
      <%= f.label :start_date, "Date de début" %>
      <%= f.date_field :start_date, class: 'form-control', :value=>Date.today %>
    </div>
    <div><%= f.submit "Créer abonnement", class: "btn btn-primary" %></div>
  </div>
<% end %>
