<% provide(:title, @member.full_name) %>
<div class="row info">
  <section class="center user_info">
    <h1><%= @member.full_name %></h1>
    <%= link_to "Modifier", edit_member_path(@member) %>
    <% if current_user.admin? %>
      | <%= link_to "supprimer", @member, method: :delete,
         data: { confirm: "Êtes vous certain de vouloir supprimer ce membre ?" } %>
    <% end %>
    <p> Adresse : <%= @member.address %>, <%= @member.postal_code %> </p>
    <p> Téléphone : <%= @member.phone %> </p>
    <p> Date de naissance : <%= @member.birth_date %> </p>
    <p> Sexe : <%= @member.gender %> </p>
    <p> Membre depuis : <%= @member.created_at %> </p>
    <p> Responsable : <%= link_to @user.full_name, @user %> </p>
  </section>
  <% if current_user.admin? %>
    <div class="col-md-8">
      <h3>Nouvel abonnement</h3>
      <section class="membership_form">
        <%= render 'shared/membership_form' %>
      </section>
    </div>
  <% end %>
  <% if @member.memberships.any? %>
    <div class="col-md-8">
        <h3>Abonnements</h3>
        <ol class="memberships">
          <%= render @memberships %>
        </ol>
        <%= will_paginate @memberships %>
    </div>
  <% end %>
</div>