<section class="center user_info">
  <h1><%= @user.full_name %> <%= "(administrateur)" unless !@user.admin? %> </h1>
  <%= link_to "Modifier", edit_user_path(@user) %>
  <% if !@user.admin? %>
  <% if current_user.admin? && !current_user?(@user) %>
    | <%= link_to "supprimer", @user, method: :delete,
       data: { confirm: "Êtes vous certain de vouloir supprimer ce compte ?" } %>
  <% end %>
  <p> Adresse : <%= @user.address %>, <%= @user.postal_code %> </p>
  <p> Téléphone : <%= @user.phone %> </p>
  <p> Date de naissance : <%= @user.birth_date %> </p>
  <p> Sexe : <%= @user.gender %> </p>
  <p> Membre depuis : <%= @user.created_at %> </p>
</section>
<% if current_user.admin? && !@user.admin? %>
  <div class="row">
      <section class="membership_form">
        <!--%= render 'shared/membership_form' %-->
      </section>
  </div>
<% end %>
<% if @member.memberships.any? %>
  <div class="col-md-8">
      <h3>Abonnements</h3>
      <ol class="memberships">
        <%= render @memberships %>
      </ol>
      <%= will_paginate @memberships %>
  </div>
<% end %>